#root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.landingPage {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(90deg, rgb(255, 177, 177), rgb(121, 1, 1)); */
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
  color: white;
  background-size: 400%;
  animation: landingPageAnimation 3s forwards;
}
@keyframes landingPageAnimation {
    0% {
      background-position: 0%;
      height: 0;
      -webkit-text-stroke: 2.5px black;  
    }
    80% {
      background-position: 20%;
      opacity: 1;
      height: 100vh;
      -webkit-text-stroke: 2.5px rgb(0, 110, 255);
    }
    100% {
      opacity: 0;
      visibility: hidden;
      height: 0;
      display: none;
    }
}

.landingDisplay {
  /* border: 1px solid black; */
  height: 80px;
  width: 280px;
  animation: landingPageAnimation 3s forwards;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.landingText {
  font-size: 65px;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
  margin-top: -50px;
}

.none {
  display: none;
}
.block {
  display: block;
  width: 100vw;
  height: 100vh;
  animation: block 3s forwards;
  margin-top: 0px;
}
@keyframes block {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (min-width: 1200px) {
  .landingPage {
    overflow-y: hidden;
  }
  .landingDisplay {
    width: 860px;
    animation: landingPageAnimation 3s;
    padding-top: 2%;
    overflow-y: hidden;
  }
  .landingText {
    font-size: 200px;
    -webkit-text-stroke-width: 0.5px;
    margin-top: -50px;
  }
  
  @keyframes landingPageAnimation {
    0% {background-position: 0%;
        height: 0;
        -webkit-text-stroke: 0.1px black;  
    }
    80% {
      background-position: 20%;
      opacity: 1;
      height: 100vh;
      -webkit-text-stroke: 0.1px rgb(0, 110, 255);
    }
    100% {
      opacity: 0;
      visibility: hidden;
      height: 0;
      display: none;
    }
  }

}



